* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;/*ancho*/
    height: 80px;/*altura*/
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 25px -22px black; /* ancho de sombra, movimiento hacia abajo, grosor o desvanecimiento de sombra, posicion o tamaño de sombra, color*/
    z-index: 2; /* para traer adelante de los demas elementos*/
}
.header-content{
    max-width: 1200px; /* define el tamaño maximo de los elementos */
    margin: auto; /*auto para centrar */
    display: flex; /* flex para poner las cajas una de lado de otra*/
    justify-content: space-between;/* Distribuir items uniformemente El primer item al inicio, el último al final */
}
.logo{
    height: 80px; /*altura referente al tamaño de contenedor padre (header)*/
    display: flex; /*Indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible*/
    justify-content: center;/*Ambas propiedades trabajan cunjuto a display flex*/
    align-items: center;/**/
}
.logo h1 b{
    color: rgba(0, 90, 53, 0.87);
}
.menu{
    height: 80px; /* no puede superar la altura de su contenedor principal*/

}
.menu nav{
    height: 100%;
}
.menu ul{
    height: 100%;
    display: flex; /*alinear a los lados*/
    list-style: none;/*Le quita los estilos predeterminados a la lista (le quita las viñetas)*/
}
.menu nav ul li {
    height: 100%;
    margin: 0 20px; /*margin vertical de 0, margin horizontal 20px*/
    display: flex;/*para centrar con ayuda de las dos propiedades siguientes*/
    justify-content: center;
    align-items: center;
}
.menu-selected a{
    color: black;
}
.menu-selected a:hover{
    color: rgba(0, 90, 53, 0.87);
}


.container-body {
    margin-top: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/computer-workstation-minimalist-night-digital-art-hd-wallpaper-1920x1080-35.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.buscar{
    margin: 20px;
    width: 500px;
}
.buscar input{
    height: 40px;
    width: 100%;
    border-radius: 8px;
}

.container-form {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.inicio {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}



footer{
    width: 100%;
    height: 100%;
    background-color:black;
    font-family: var(--fuente-1);
}
.footer-inf{
    margin-top: 20px;
}
.footer-inf a{
    color: aliceblue;
}
.LogoUleam2{
    padding-top: 20px;
    justify-items: center;
    height: 100%;

}
.LogoUleam2 img{
    display: block;
    margin: auto;
    width: 200px;
    height: 70px;
}
